$blue: #1877F2;
$green: #42B72A;
$border-radius: 0;

@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  /* background: linear-gradient(
    203deg,
    rgba(131, 158, 180, 0.9) 0%,
    rgba(253, 29, 29, 0.9) 50%,
    rgba(252, 176, 69, 0.9) 100%,
  ); */
  background: linear-gradient(
    203deg, 
    rgba(248, 183, 233, 0.9) 0%, 
    rgba(148, 191, 225, 0.9) 50%, 
    rgba(252, 254, 184, 0.9) 100%,
  );
}